/* This is an example CSS file. If you include it in your portfolio, it'll provide some clean and basic styling */
/* for your page. Feel free to experiment with the values, or copy them into a new file and use that instead. */

/* These are comments in CSS. Comments don't do anything except explain your working to make code easier to understand. */


body { /* We can style any HTML element by using its name - here we're styling the body */
  /* We want text that uses a clean sans-serif font, is usually 16px big and close to black */
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #00303F;
  line-height: 1.6;
  /* we want a white page, that's centered and not too wide */
  background-color: #14365d;
  margin:0 auto;
  max-width: 750px;
  padding-top: 60px;
}


/* Headings */
h1 {
  color: #F1E0C6;
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
}

h6 {
  color: #9ddce9;
  margin-top: 16px;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 1.6em;
  text-align: center;
}

h2, h3, h4, h5,  {
  color: #00303F;
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
}

/* We want the headings to be a little bigger than the paragraph text */
.big { /* This is the class we created in the HTML file, you can use it to style any element */
  font-size: 2.5em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

.small {
  font-size: 1.25em;
}

/* Paragraph */
p {
  margin-bottom: 1em;
  font-weight: 300;
}

section {
  margin-bottom: 2.5em;  /* We want a little more space between sections */
}

/* Links */
/* We want the links to be a little more visible  and a different color */
a {
  color: #065f46;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
  
/* Images */
img {
  max-width: 100%;
  height: auto;
}

/* Section styling */
section {
  background-color: #FFFFFF; /* White background for each section*/
  margin: 20px 0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1); /* Shadow for each box */
  box-sizing: border-box; /* Add this to include padding in the width calculation */
}

/* Styling for iframe wrapper */
.iframe-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;  /* Adjust height as needed */
  border-radius: 10px; /* Optional: rounded corners */
  padding: 0px; /* Optional: add padding around the iframe */
  border: 4px solid #f7c8c8;
  box-shadow: 0px 4px 10px rgba(12, 5, 5, 0.1); /* Optional: shadow around the border */
}

/*Size*/
.chart-description {
  width: 100%; /* Relative width */
  /*max-width: 1200px; /* Optional: Limit the maximum width */
  align-items: center;
  margin: 0 auto; /* Center it */
}

/* Button Format */
.button-56, .button-1{
  align-items: center;
  margin: 10px;
  background-color: #F1F0F4;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #232F3E;
  cursor: pointer;
  display: flex;
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  display:inline-block;
  }

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
  background: #FF9900;
}

.button-56:active {
  background-color: #FF9900;
  outline: 0;
}

.button-56:hover {
  outline: 0;
  background: #F1F0F4;
}

.codeButton {
  background-color: transparent;
  border: 1px solid rgb(5, 5, 6);
  color: rgb(1, 1, 1);
  font-family: 'Roboto', sans-serif;
  line-height: 16px;
  font-weight: 600;
  border-radius: 150px;
  box-sizing: content-box;
  align-items: flex-start;
  display: inline-block;
  font-size: 12px;
  margin: 1px 2px 1px 2px;
  text-decoration: none;
  max-width: 100px;
  outline-offset: 2px;
  overflow: hidden;
  padding: 5px 12px;
  text-align: left;
  text-overflow: ellipsis;
  transition: border-color,background-color .5s ease;
  white-space: nowrap;
}

#myBtn {
border: 1px solid rgb(4, 1, 12);
background-color: transparent; /* Set a background color */
color: rgb(241, 240, 244); /* Text color */
cursor: pointer; /* Add a mouse pointer on hover */
font-family: 'Roboto', sans-serif;
line-height: 16px;
font-weight: 600;
border-radius: 150px;
box-sizing: content-box;
align-items: flex-start;
display: inline-block;
font-size: 12px;
margin: 1px 2px 1px 2px;
text-decoration: none;
max-width: 100px;
outline-offset: 2px;
overflow: hidden;
padding: 5px 12px;
text-align: left;
text-overflow: ellipsis;
transition: border-color,background-color .5s ease;
white-space: nowrap;
}

#myBtn:hover {
background-color: #555; /* Add a dark-grey background on hover */
}

.loader {
border: 16px solid #070505; 
border-top: 16px solid #FF9900;
border-radius: 50%;
width: 120px;
height: 120px;
animation: spin 2s linear infinite;
}